#carousel_homepage .ant-carousel .slick-dots li.slick-active button {
  background: red;
}
#carousel_homepage .ant-carousel .slick-dots li button {
  background: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
